/****** Main Styling ******/

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #00F6F6;
	background-color: #5F8484;
	text-align: center;
	line-height: 1.4em;
}

.container {
	padding: 0;
	margin-top: 40px;
}

h3 {
  margin-top: 30px;
}

hr {
	margin: 25px;
}

.footer {
	margin-top: 40px;
}

code {
  font-family: monospace;
  padding: 2px;
  color: #000;
  background-color: #D4D4D4;
	padding:5px;border-radius:5%;
}

spam{
	color:#05cfcf;
	font-style: italic;
}

ul {
	list-style-type: none;
}

li {
  margin-bottom: 0.5em;
}

a {
	color: #CCC5B7;
}
